Repository ajithranka/chatterbox: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:prettier, npm run lint:eslint, npm run lint:svgo

.lintstagedrc:

{
  "*.css": ["npm run lint:prettier"],
  "*.(js|vue)": ["npm run lint:eslint", "npm run lint:prettier"],
  "*.svg": ["npm run lint:svgo"]
}

Setup icon spritesheet and linting
  README.md
  nuxt.config.ts
  package.json
  render.yaml
Due: none

Add a branch field
  render.yaml
Due: none

Fix build command
  render.yaml
Due: none

Setup basic i18n support
  components/AppHeader.vue
  components/ChatSidebar.vue
  locales/en.json
  package-lock.json
  package.json
  plugins/i18n.ts
Due: none

Use pinia for global state
  package-lock.json
  package.json
  stores/chat.js
  stores/user.js
Due: none

Members panel, chat input and user profile components
  assets/icons/send.svg
  components/AppHeader.vue
  components/AppIconSpritesheet.vue
  components/ChatContent.vue
  components/ChatContents.vue
  components/ChatHeader.vue
  components/ChatInput.vue
  components/ChatMembers.vue
  components/UserProfile.vue
  layouts/chat.vue
  nuxt.config.ts
  plugins/i18n.ts
  stores/chat.js
  svgo.config.js
  utils/extractInitials.js
Due: npm run lint:svgo

Show member profile and details
  assets/images/profile-a.jpeg
  assets/images/profile-b.jpeg
  assets/images/profile-c.jpeg
  assets/images/profile-d.jpeg
  assets/images/profile-e.jpeg
  assets/images/profile-f.jpeg
  assets/images/profile-g.jpeg
  assets/images/profile-h.jpeg
  assets/stylesheets/main.css
  components/AppBadge.vue
  components/ChatContents.vue
  components/ChatHeader.vue
  components/ChatMember.vue
  components/ChatMembers.vue
  components/ChatSidebar.vue
  components/UserProfile.vue
  stores/chat.js
  tailwind.config.js
Due: npm run lint:prettier

Add tooltips for member status and toggle button
  assets/icons/note.svg
  components/AppIconSpritesheet.vue
  components/AppTooltip.vue
  components/ChatHeader.vue
  components/ChatMember.vue
  package-lock.json
  package.json
Due: npm run lint:svgo

Clean up readme
  README.md
Due: none
